@{
    ViewBag.Title = "Resources.language.HomeHeadTitle";
}
<div class="jumbotron">
    <h1>@Resources.language.HomeHead</h1>
    <p class="lead">@Resources.language.HomeJumbo</p>
    <p><a href="https://upload.wikimedia.org/wikipedia/commons/d/df/Doge_homemade_meme.jpg" class="btn btn-primary btn-lg" target="_blank">@Resources.language.MereInfo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Resources.language.HomeCol1Title</h2>
        <p>@Resources.language.HomeCol1Text</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">@Resources.language.MereInfo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.language.HomeCol2Title</h2>
        <p>@Resources.language.HomeCol2Text</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">@Resources.language.MereInfo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.language.HomeCol3Title</h2>
        <p>@Resources.language.HomeCol3Text</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">@Resources.language.MereInfo &raquo;</a></p>
    </div>
</div>